@use "../../_index.scss" as *;

.todoTitle::after {
  content: "";
  display: block;
  background-color: tomato;
  width: 100%;
  height: 0.25rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.todoList {
  display: flex;
  flex-direction: row;
}

.todoCards {
  margin: 3.5rem auto 100px;
  gap: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.todoCard {
  background-color: #F3D92C74;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  max-height: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease, background-color 0.3s ease;
  z-index: -1;
  position: relative;


  &:hover {
    transform: scale(1.5);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 1.4);
    background-color: $highlight-color;
    z-index: 5;
    max-height: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease, background-color 0.3s ease;

    .hidden {

      visibility: visible;
      opacity: 1;
      font-size: 1em;
      transition: opacity 0.3s ease;

    }
  }
}

.hidden {
  margin: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease;
  font-size: 0;
}

.fancyStatus {
  position: absolute;
  top: -0.5rem;
  right: -2rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: tomato;
  padding: 0.5rem 0.8rem;
  border: 3px dotted tomato;
  border-radius: 50%;
  font-size: 1.8rem;
  transform: rotate(35deg);
  cursor: pointer;
  text-decoration: none;

}

.cardActions {
  display: flex;
  justify-content: space-around;
}

.cardActions button {
  position: relative;
  background-color: transparent;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.cardActions button:hover {
  background-color: $background-color;
  color: $primary-color;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.goToNewToDo,
.goToAllTodos {
  background-color: $background-color;
  color: $primary-color;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  width: 100px;
  margin-top: 2rem;
  position: relative;
  left: 10px;

  &:hover {
    background-color: $highlight-color;
    color: $primary-color;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.endDate {
  text-decoration: double underline;
}

.leftSide {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  padding: 0;
  margin: 0;
}

.rightSide {
  width: 50px;
}

.todoSections {
  border: none;
  outline: none;
}








