@use "../../_index.scss" as *;

.customSelect,
.customSelectButton {
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 99px;
  border: none;
}

.customSelectButton {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.22);
  &:hover {
    outline: 1px solid $accent-color;
  }
}

.customSelectOptions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0.25rem;
  z-index: 1000;
}

.customSelectOption {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgba(177, 177, 177, 1);


  &:hover {
    background-color: $highlight-color;
  }

  &:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: none;
  }

  &:not(.selected) {
    padding-left: 2.15rem;
  }
}


.optionLabel {
  color: $primary-color;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.selected {
  background-color: #3ff39e;
  color: $primary-color;
  font-weight: bold;
}

.selected::before {
  content: "🢂 ";
  margin-right: 0.25rem;
}

