@use "../../_index.scss" as *;

.footer {
  position: static;
  height: $footer-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  display: flex;
  color: white;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: text-decoration 0.3s ease;
  padding: 1px 10px;
  border-radius: 5px;
  border: none;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: text-decoration 0.3s ease;
  }
}

.p {
  background-color: $primary-color;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  transition: text-decoration 0.3s ease;
  padding: 1px 10px;
  border-radius: 5px;
  border: none;
  cursor: default;
}