$primary-color: rgb(40, 44, 52);
$highlight-color: rgb(243, 217, 44);
$accent-color: #61dafb;
$background-color: rgba(63, 243, 158, 0.5);
$header-height: 80px;
$footer-height: 100px;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Consolas', 'monospace';
  font-size: 16px;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}
